<h1>Editing Pixel Pic</h1>

<%= render 'form' %>

<%= link_to 'Show', @pixel_pic, {:class => 'btn btn-default btn-sm'} %> |
<%= link_to 'Back', pixel_pics_path, {:class => 'btn btn-default btn-sm'} %>
